* {
  font-family: Roboto, sans-serif;	
}

.after-text-thank-you {
    font-family: Roboto;
    font-size: 18px;
    line-height: 78px;
    color: #003333;
}

.after-text-thank-you span {
    font-weight:500;
    color: #009999;
}

input[type="radio"]:not(old)+label>.outside {
  border: 2px solid #009999 !important;
}

input[type="radio"]:not(old)+label>.outside>.inside {
  background: #009999 !important;
  margin:2px !important;
}

input[type="checkbox"]:not(old)+label>.outside>.inside {
  background-image: url(https://rawgit.com/lucianstuparu/123contactform-mdl/master/checkbox-icon-white.png) !important;
}

.label-text a {
  color:#009999 !important;
}

.fieldcontainer {
  margin-bottom:15px !important;	
}

.select2-container {
   width:100% !important;	
}

.select2-container a.select2-choice {
  padding-left:0;	
}

.class123-pagination .pagination-item.pagination-active .page-number, .class123-pagination .pagination-item.pagination-active .page-title {
	color: #009999 !important;
	padding:0 !important;
}

.class123-pagination .pagination-item .page-number, .class123-pagination .pagination-item .page-title {
	color: #333333 !important;
	padding:0 !important;
}

.class123-pagination .pagination-item {
	font-weight:700;
	background:#e7e7e7;
	text-align:left;
	border-right:10px solid #fff;
	padding-top: 5px;
    	padding-left: 15px;
}

.class123-pagination .pagination-item:last-child {
	border:0;
}

.pagination-active {
	background: #cee7e7 !important;
	color: #009999 !important;
}

#mainform123 .class123-pagination {
	padding-bottom:30px;	
}

span.page-title {
    font-size:18px;
}

.class123-pagination .pagination-item .page-number {
    font-weight:900;
    font-size:30px;
    padding:0;
    line-height:1.2em;
}

.form-top-aligned .row-fluid {
	padding-bottom:0;
}

#errordiv {
	margin-left:10px;
}

#errordiv span.errormsg {
	font-size:12px;
}

div.subitem {
	width:100%;
}

div.subitem input[type=text], div.subitem input[type=email], div.subitem textarea {
  box-sizing: border-box;
  display: block;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252 !important;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  outline: none;
  width: 100%;
  padding: 0;
  box-shadow: none;
  border-radius: 0px;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.7em !important;
  background-image: none;
  height:auto;
}

div.subitem input[type=text]:focus, div.subitem input[type=email]:focus, div.subitem textarea:focus, div.subitem .select2-container a.select2-choice:active {
  border-color: #009999;
  border-width: 2px;
}

div.subitem select.class-123select {
	background-color: rgba(255,255,255,0.9);
    width: 100%;
    padding: 5px;
    border: 0;
    height: 3rem;
}
div.subitem .select2-container a.select2-choice {
	border:0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

div.subitem label.class123-label.class123-fieldname {
	padding-top: 20px;
    position: absolute !important;
    font-size: 16px !important;
	font-family: Roboto, sans-serif;
    color: #666 !important;
    font-weight: 400;
    top: -10px !important;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

.requiredfield:not(.likert-label):after {
	position: absolute !important;
    font-size: 16px !important;
	font-family: Roboto, sans-serif;
    color: #666 !important;
    font-weight: 400;
    top: 15px !important;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

div.fieldcontainer.focus .row .class123-label.class123-fieldname, .validation-error .row .class123-label.class123-fieldname, .row label.class123-label.class123-fieldname.active{
    font-size: 13px !important;
    color: #009999 !important;
    font-weight: 400;
    top: -30px !important;
}

.row label.class123-label.class123-fieldname.active.default {
	font-size:16px !important;	
}

div.fieldcontainer {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.focus .row .class123-label.class123-fieldname.requiredfield:not(.likert-label):after, .validation-error .row .class123-label.class123-fieldname.requiredfield:not(.likert-label):after, .row label.class123-label.class123-fieldname.active.requiredfield:not(.likert-label):after {
	font-size: 13px !important;
    color: #009999 !important;
    font-weight: 400;
}

.validation-error .row .class123-label.class123-fieldname, .validation-error .row .class123-label.class123-fieldname.requiredfield:not(.likert-label):after {
	color: #d50000;
}

.form-top-aligned .class123-label.class123-fieldname:not(.likert-label):not(#language-label) {
	font-size:.8rem;
	position:static;
}

input[type="checkbox"]:not(old)+label>.outside{
	border-radius:2px;
	border-color: #009999;
	border-width: 2px;
}

input[type="checkbox"]:not(old)+label>.outside>.inside {
	background-color: #009999;
}

input#id123-control29537184::before {
	content: "Read this: ";
}

.validation-error input[type="text"]:not(.exclude-error-input):not(.no-validation-error), .validation-error input[type="email"]:not(.exclude-error-input):not(.no-validation-error), .validation-error input[type="url"]:not(.exclude-error-input):not(.no-validation-error), .validation-error input[type="password"]:not(.exclude-error-input):not(.no-validation-error) {
	background-color:transparent;
}

/**
 * MUI Buttons
 */
div.subitem  input.class123-button, div.control-row  input.class123-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  background-color: #009999;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  height: 54px;
  padding: 0 26px;
  margin: 6px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  text-align: center;
  line-height: 54px;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 24px;
  font-family: inherit;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 379px) {
     div.subitem  input.class123-button, div.control-row  input.class123-button {
         font-size: 20px;
         padding-left: 5px;
         padding-right: 5px;
     }
}

div.subitem  input.class123-button:hover, div.subitem  input.class123-button:focus, div.subitem  input.class123-button:active, div.control-row  input.class123-button:hover, div.control-row  input.class123-button:focus, div.control-row  input.class123-button:active {
  color: rgba(0, 0, 0, 0.87);
  background-color:white;
}

div.subitem  input.class123-button[disabled]:hover, div.subitem  input.class123-button[disabled]:focus, div.subitem  input.class123-button[disabled]:active, div.control-row  input.class123-button[disabled]:hover, div.control-row  input.class123-button[disabled]:focus, div.control-row  input.class123-button[disabled]:active {
  color: rgba(0, 0, 0, 0.87);
  background-color: #FFF;
}

div.subitem  input.class123-button:hover, div.subitem  input.class123-button:focus, div.subitem  input.class123-button:active, div.control-row  input.class123-button:hover, div.control-row  input.class123-button:focus, div.control-row  input.class123-button:active {
  outline: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

div.subitem  input.class123-button:hover, div.subitem  input.class123-button:focus, div.control-row  input.class123-button:hover, div.control-row  input.class123-button:focus {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  div.subitem  input.class123-button:hover, div.subitem  input.class123-button:focus, div.control-row  input.class123-button:hover, div.control-row  input.class123-button:focus {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  }
}

@supports (-ms-ime-align: auto) {
  div.subitem  input.class123-button:hover, div.subitem  input.class123-button:focus, div.control-row  input.class123-button:hover, div.control-row  input.class123-button:focus {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  }
}

div.subitem  input.class123-button:active:hover, div.control-row  input.class123-button:active:hover {
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2);
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  div.subitem  input.class123-button:active:hover, div.control-row  input.class123-button:active:hover {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2);
  }
}

@supports (-ms-ime-align: auto) {
  div.subitem  input.class123-button:active:hover, div.control-row  input.class123-button:active:hover {
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.12), -1px 0px 2px rgba(0, 0, 0, 0.12), 0 0px 4px rgba(0, 0, 0, 0.12), 1px 3px 4px rgba(0, 0, 0, 0.2);
  }
}

div.subitem  input.class123-button:disabled, div.subitem  input.class123-button.mui--is-disabled, div.control-row  input.class123-button:disabled, div.control-row  input.class123-button.mui--is-disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.60;
  box-shadow: none;
}

div.subitem  input.class123-button + div.subitem  input.class123-button, div.control-row  input.class123-button + div.control-row  input.class123-button {
  margin-left: 8px;
}


div.subitem  input.class123-button, div.control-row  input.class123-button, span.fileinput-button {
  color: #FFF;
  background-color: #009999;
}

span.fileinput-button {
  color: #FFF !important;
}

div.subitem  input.class123-button:hover, div.subitem  input.class123-button:focus, div.subitem  input.class123-button:active, div.control-row  input.class123-button:hover, div.control-row  input.class123-button:focus, div.control-row  input.class123-button:active, span.fileinput-button:hover, span.fileinput-button:focus, span.fileinput-button:active {
  color: #FFF;
  background-color: #00bcbd;
}

div.subitem  input.class123-button[disabled]:hover, div.subitem  input.class123-button[disabled]:focus, div.subitem  input.class123-button[disabled]:active, div.control-row  input.class123-button[disabled]:hover, div.control-row  input.class123-button[disabled]:focus, div.control-row  input.class123-button[disabled]:active {
  color: #FFF;
  background-color: #009999;
}

.js-previous-btn {
    background: #fff !important;
    color: #009999 !important;
    border: 2px solid #009999 !important;
}

input[type="checkbox"]:not(old)+label {
	margin-top: 15px;
}

.row label.class123-label.class123-fieldname.active.two-rows {
	top: -60px !important;
}

.row label.class123-label.class123-fieldname.active.two-rows:after {
	top:40px !important;	
}

.row label.class123-label.class123-fieldname.active.one-row {
	top: -40px !important;
}

body .fieldcontainer label.class123-checkbox-other-label span.label-text {
	top: 3px !important;
	width:100%;
}

span.label-cont input.other-input {
	display: inline-block;
}

.label-cont .other-input {
	width: auto !important;
    display: inline;
}

@media only screen and (max-width: 479px) {

}
